@use "../../App.scss" as styles;

#PopDestinations {
    margin-bottom: 50px;
    width: 90%;

    #DestinationsCategorys {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 25px 25px; 
    }
    
}