@use "../../App.scss" as styles;

#PopDestinations {
    width: 90%;

    h3 {
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 20px;
    }

    #DestinationsCategorys {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 25px 25px; 
    }
    
}