// globales styling Mixin, variablen und schriften



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h4 {
  margin: 0;
  font-size: 1.6rem;
  color: #213b21;
}

p {
  margin: 0;
  font-size: 1.6rem;
  color: #112211;
}


